@charset "utf-8";

// CSSリセット
@import "@unocss/reset/eric-meyer.css";

$pc: 520px;
$sp: 519px;

@mixin pc {
    @media (min-width: ($pc)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

@include pc {
    .sp {
        display: none !important;
    }
}

@include sp {
    .pc {
        display: none !important;
    }
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #ffffff;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

#app {
    margin: 0 auto;
    text-align: center;
    width: 1920px;
    @include sp {
        width: 100%;
    }
}

// ===========================
// section
// ------------------------------
.section {
    width: 100%;
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    @include sp {
        background-image: url("/bg_sp.png");
    }
    &.is-show {
        .section-content {
            opacity: 1;
        }
    }
    .section-content {
        margin: 0 auto;
        padding: auto;
        text-align: center;
        opacity: 0;
        transition: opacity 0.5s ease 0.75s;
        height: 100%;
    }
}

h2 {
    color: #232323;
    &:first-child {
        margin-top: 0;
    }
}

h3 {
    color: #232323;
}

p {
    color: #232323;
}

.section-1 {
    animation: fadeIn 2s ease 0s 1 normal;
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    .section-content {
        position: relative;
        overflow: hidden;
        .mainv {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 1920px;
            height: 100%;
            transform: translate(-50%, -50%);
            @include sp {
                width: 100%;
            }
        }
    }
}

.section-2 {
    .section-content {
        @include pc {
            display: flex;
            position: relative;
            .character {
                position: absolute;
                top: 50%;
                left: 25%;
                transform: translate(-50%, -50%);
                width: 35vw;
            }
            .text-area {
                position: absolute;
                top: 50%;
                right: -20%;
                transform: translate(-50%, -50%);
                .introduction {
                    width: 45vw;
                    &.draft-text {
                        top: 5vw;
                        position: relative;
                    }
                }
                .box {
                    display: flex;
                    justify-content: center;
                    gap: 1.5vw;
                    margin-top: 2vw;
                    a {
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                }
            }
        }

        @include sp {
            display: grid;
            place-items: center;
            .character {
                width: 70vw;
                margin: 3vw 0 0;
            }
            .text-area {
                .introduction {
                    width: 90vw;
                }
                .box {
                    display: flex;
                    justify-content: center;
                    gap: 3.5vw;
                    margin: 4vw 0 0;
                    a {
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                }
            }
        }
    }
}

.section-3 {
    .section-content {
        @include pc {
            position: relative;
            img {
                position: absolute;
                transform: translate(-50%, -50%);
            }
            .draft {
                top: 50%;
                left: 25%;
                width: 35vw;
            }
            .heading {
                top: 30%;
                left: 72.5%;
                width: 35vw;
            }
            .draft-text {
                top: 55%;
                left: 72.5%;
                width: 35vw;
            }
        }

        @include sp {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
            grid-template-areas: "a" "b" "c";
            place-items: center;
            height: 175vw;
            .draft {
                grid-area: b;
                width: 90vw;
                margin: 10vw 0;
            }
            .heading {
                grid-area: a;
                width: 80vw;
                margin-top: 10vw;
            }
            .draft-text {
                grid-area: c;
                width: 90vw;
            }
        }
    }
}
